.content_wrapper {
  margin: 0 auto;
  max-width: 1920px;
  font-family: Montserrat, sans-serif;

  input {
    border-radius: 5px;
    border: none;
    width: 385px;
    height: 57px;
    margin: 20px;
    font-size: 19px;
    font-weight: 100;

  }

  button {
    width: 250px;
    height: 57px;
    background-color: #FFC633;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;

  }
}

.header {
  color: black;
  max-width: 1920px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;

  .header__phone {
    width: 20px;
    height: 20px;
  }

  .header__button {
    width: 250px;
    height: 50px;
    background-color: #FFC633;
    border: none;
    border-radius: 50px;
  }

}

.form-container {
  display: inline-flex;
  max-width: 1920px;
  background-image: url('../../Pictures/formWrapperBkg.jpg');
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 130px;

  .form-container_information {
    margin: 30px;
    font-weight: 100;
    font-size: 24pt;
  }

  .form-container_information {
    font-weight: 800;
    font-size: 67px;
  }

  .form-container_information span {
    font-weight: 200;
    font-size: 29px;
  }

  .form_container_second_p {
    font-weight: 200;
    font-size: 24px;
  }

  span {
    font-weight: 600;
    font-size: 24px;
  }

  .form_container_second_title {
    font-weight: 600;
    font-size: 56px;
    margin: 20px;
  }
}

.form-wrapper {
  margin: 40px;
  max-width: 890px;
  //height: 461px;
  background-color: #FFC633;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 20pt;
  font-weight: 600;

  .form-wrapper_span1 {
    color: #24173D;
    font-weight: 700;
    font-size: 87pt;
  }

  .form-wrapper_span2 {
    color: #24173D;
    font-weight: normal;
    font-size: 29pt;
  }

  input {
    margin: 15px;
    border-radius: 5px;
    border: none;
    width: 385px;
    height: 65px;
    font-size: 19px;
    font-weight: 100;
  }

  button {
    margin: 30px;
    color: white;
    width: 355px;
    height: 65px;
    border: none;
    border-radius: 43px;
    background-color: #24173D;
  }
}


.benefits-wrapper {
  margin-left: 55px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1780px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: 5px solid #030303;

  img {
    margin-right: 10px;
  }

  legend {
    font-size: 44px;
    font-weight: bold;
    color: #24173D;
    text-align: center;
  }

  .benefits_list__element {
    color: #24173D;
    font-weight: 200;
    font-size: 24px;
    display: flex;
    flex: 0 1 25%;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
  }
}

.property-types h2 {
  font-weight: bold;
  font-size: 44pt;
  text-align: center;

}

.property-types_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .property-types__picture {
    position: relative;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px white;

    .property-types__image {
      position: relative;
      z-index: -1;
    }

    .picture-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 30px;

      .property-types__name {
        font-weight: 600;
        font-size: 24px;
        color: white;
        align-items: flex-start;
      }

      button {
        width: 258px;
        height: 46px;
        background-color: #FFC633;
        border: none;
        border-radius: 50px;
      }
    }

  }
}

.data-wrapper {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .data_info {
    max-width: 1017px;
    height: 321px;
    background-color: #FFC633;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .data_info__element {
      color: white;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      margin: 90px;

      .data_info__element__percentage {
        color: #24173D;
        font-size: 30px;
      }

      span {
        font-size: 70px;
        font-weight: 900;
      }
    }
  }

  .data_text {
    font-size: 44px;
    font-weight: 900;
    color: #24173D;
    display: flex;
    align-items: flex-start;

    img {
      margin-right: 20px;
    }
  }
}

.cta-form-wrapper {
  max-width: 1920px;
  //height: 398px;
  background-image: url('../../Pictures/CtaBackground.jpg');
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .cta-form-text {
    font-size: 44pt;
    font-weight: 800;

    span {
      font-size: 30px;
      font-weight: 400;

    }
  }
}

.end_logo {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.copyright-wrapper {
  color: #4A4A4A;
  height: 64px;
  background-color: #E6E5EA;
  font-weight: 100;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;


  span {
    color: #F8B500;
  }
}

@media (max-width: 1920px) {
  .content_wrapper {
    max-width: 1440px;
  }

  .form-container {
    max-width: 1200px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1440px) {
  .content_wrapper {
    max-width: 1200px;
  }

  .form-container {
    max-width: 1000px;
  }
}

@media (max-width: 1200px) {
  .content_wrapper {
    max-width: 970px;
  }

  .form-container {
    max-width: 750px;
  }
}

@media (max-width: 970px) {
  .content_wrapper {
    max-width: 750px;
    flex-wrap: wrap;
  }

  .form-container {
    max-width: 548px;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .content_wrapper {
    max-width: none;
  }

  .form-container {
    max-width: none;
  }

  .data-wrapper {
    flex-wrap: wrap;
  }
}




